{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
    <title>Cadastro</title>
</head>
<body>
    <div class="formulario">
        <div id="top-text">
            <p>Crie sua conta</p>
        </div>
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Seu nome" maxlength="20" autocomplete="off" id="name">
            <p class="warning-off" id="required-field1">*Campo obrigatório!</p>
            <p class="warning-off" id="invalid-name">Nome inválido!</p>

            <input type="text" name="email" placeholder="Seu E-mail" maxlength="35">
            <p class="warning-off" id="required-field2">*Campo obrigatório!</p>
            <p class="warning-off" id="invalid-email">Endereço de E-mail inválido!</p>

            <input type="password" name="password1" placeholder="Sua senha" maxlength="30">
            <p class="warning-off" id="required-field3">*Campo obrigatório!</p>

            <input type="password" name="password2" placeholder="Confirme sua senha" maxlength="30">
            <p class="warning-off" id="required-field4">*Campo obrigatório!</p>
            <p class="warning-off" id="passwords-dont-match">As senhas não correspondem</p>
            
            <input type="submit" name="signup" value="Cadastrar" id="signup" onclick="cadastro()">
        </form>
    </div>
    <script src="{% static 'scripts/signup.js' %}"></script>
</body>
</html>