
@font-face {
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
    font-family: "Open Sans";
}

@font-face {
    src: url(fonts/Oswald//Oswald-VariableFont_wght.ttf);
    font-family: "Oswald";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}


body {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15vh auto 10vh;
    grid-template-areas: 'h h h h h'
                         'm m m m m'
                         'f f f f f';
}


header[class="navbar"] {
    grid-area: h;
    padding: 2vw;
    background-color: #FF4747;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-content: center;
    align-items: center;
}

.nav-logo a{
    font-size: 6vh;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.nav-logo img {
    height: 10vh;
}


.nav-menu {
    display: flex;
}

.nav-menu a {
    margin-right: 7vw;
    font-size: 4vh;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #201F21;
}

.nav-login a{
    text-decoration: none;
    font-size: 3vh;
    color: #fff;
    transition: color 0.3s;
}

.nav-login a:hover {
    color: #201F21;
}









main {
    grid-area: m;
    background-color: #f1f1f1;
    min-height: 75vh;
}

footer {
    grid-area: f;
    background-color: yellow;
    bottom: 0;
}


